<html>
    <head>
<link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        <h1>{{title}}</h1>
        <p>developed by {{name}}</p>
        <form>
            <input placeholder="location">
            <button>Submit</button>
            <p id="msg1"></p>
            <p id="msg2"></p>
        </form>
    </body>
    <script src="/js/app.js"></script>
</html>